@font-face {
    font-family: Giaza;
    src: url("/fonts/GIAZA.OTF");
}

@font-face {
    font-family: Cera Bold;
    src: url("/fonts/CERA\ PRO\ BOLD.OTF");
}

@font-face {
    font-family: Signature;
    src: url('/fonts/BRITTANYSIGNATURE.TTF')
}

@font-face {
    font-family: Celine;
    src: url('/fonts/Celine Peach Sans.TTF')
}

@font-face {
    font-family: Zap;
    src: url('/fonts/bodoni-six-itc-bold-italic-os-5871d33e4dc4a.ttf');
}

@font-face {
    font-family: Zap-Bold;
    src: url('/fonts/zapf-humanist-601-bt-bold.ttf');
}

@import 'tailwindcss';

@theme{
    --font-giaza: Giaza, "sans-serif";
    --font-cera: Cera Bold, "sans-serif";
    --font-sign: Signature, 'sans-serif';
    --font-celine: Celine, 'sans-serif';
    --font-zap: Zap, 'sans-serif';
    --font-zap-bold: Zap-Bold, 'sans-serif';
}

.drop-container::before{
    content: '';
    position: absolute;
    inset: 0;
    border-radius: 32px;
    background-color: rgba(103,84,48,0.3);
    background: linear-gradient(135deg, rgba(192,160,98,0.7), rgba(168,136,76,0.7));
    z-index: -777;
}


/* .blue-glass{
    background: linear-gradient(45deg,rgba(0, 0, 0, 0.568) 0%, rgba(71, 69, 122, 0.719) 50%, rgba(0, 0, 0, 0.692) 100%);
} */

/* .dropbox-btn{
   position: relative;
   overflow: hidden;
}

.dropbox-btn::before{
    content: '';
    background: #fff;
    background-position: 200px;
    top: 50%;
    left: 50%;
    position: absolute;
    z-index: 1;
    width: 0%;
    height: 0%;
    inset: 0;
    border-radius: 100%;
    transition: all 700ms;
    transform: translate(--x, --y); 
}
.dropbox-btn:hover::before{
    width: 500px;
    height: 500px;
    /* transform: translate(-50%, -50%); */
/* }


.drop-container::before:hover{

} */ 
